NodeRed/flows.json
[
    {
        "id": "3d35441da62ff479",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "627d0998281009b6",
        "type": "ui_chart",
        "z": "3d35441da62ff479",
        "name": "",
        "group": "7298f2f41155d3bc",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Gas level chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "600",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "44d227b2c9eeadc7",
        "type": "function",
        "z": "3d35441da62ff479",
        "name": "function 1",
        "func": "// Vérifier que msg.payload existe\nif (!msg.payload) {\n    node.warn(\"msg.payload est introuvable !\");\n    return null; // Arrête la fonction si msg.payload est absent\n}\n\nlet payload;\ntry {\n    // Vérifier si msg.payload est une chaîne JSON\n    if (typeof msg.payload === \"string\") {\n        payload = JSON.parse(msg.payload); // Convertir la chaîne JSON en objet\n    } else {\n        payload = msg.payload; // Utiliser l'objet tel quel\n    }\n\n    // Vérifier que le champ \"data\" existe dans le payload\n    if (!payload.data) {\n        node.warn(\"Donnée 'data' introuvable dans le message !\");\n        return null;\n    }\n\n    // Décoder la donnée Base64\n    let rawData = payload.data; // Récupère la donnée \"data\"\n    let buffer = Buffer.from(rawData, 'base64'); // Convertit la Base64 en buffer\n\n    // Extraire la valeur (par exemple, un entier)\n    let gasLevel = buffer.readUInt8(0); // Lit le premier octet comme un entier non signé\n\n    // Ajouter le niveau de gaz dans le message\n    msg.payload = gasLevel;\n\n    // Retourner le message modifié\n    return msg;\n} catch (err) {\n    node.error(\"Erreur lors du traitement des données : \" + err.message);\n    return null; // Arrête le traitement en cas d'erreur\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 260,
        "wires": [
            [
                "627d0998281009b6",
                "ae98c91944f5bfc2"
            ]
        ]
    },
    {
        "id": "596633077c589570",
        "type": "mqtt in",
        "z": "3d35441da62ff479",
        "name": "",
        "topic": "application/feb26b6b-94e0-45c9-ab1c-1f8aec7935bd/device/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "863bcaa122c1dd25",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 260,
        "wires": [
            [
                "44d227b2c9eeadc7",
                "cf655fd59dd4d82b"
            ]
        ]
    },
    {
        "id": "ae98c91944f5bfc2",
        "type": "ui_gauge",
        "z": "3d35441da62ff479",
        "name": "",
        "group": "7298f2f41155d3bc",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Last gas value",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 960,
        "y": 320,
        "wires": []
    },
    {
        "id": "cf655fd59dd4d82b",
        "type": "function",
        "z": "3d35441da62ff479",
        "name": "function 2",
        "func": "// Vérifier que msg.payload existe\nif (!msg.payload) {\n    node.warn(\"msg.payload est introuvable !\");\n    return null; // Arrête la fonction si msg.payload est absent\n}\n\nlet payload;\ntry {\n    // Vérifier si msg.payload est une chaîne JSON\n    if (typeof msg.payload === \"string\") {\n        payload = JSON.parse(msg.payload); // Convertir la chaîne JSON en objet\n    } else {\n        payload = msg.payload; // Utiliser l'objet tel quel\n    }\n\n    // Vérifier que le champ \"data\" existe dans le payload\n    if (!payload.data) {\n        node.warn(\"Donnée 'data' introuvable dans le message !\");\n        return null;\n    }\n\n    // Décoder la donnée Base64\n    let rawData = payload.data; // Récupère la donnée \"data\"\n    let buffer = Buffer.from(rawData, 'base64'); // Convertit la Base64 en buffer\n\n    // Extraire la valeur (par exemple, un entier)\n    let gasLevel = buffer.readUInt8(0); // Lit le premier octet comme un entier non signé\n\n    // Vérifie la limite de 100 de la valeur de gas\n    if (gasLevel > 100) {\n        msg.payload = true;\n    }\n    else {\n        msg.payload = true;\n    }\n\n    // Retourner le message modifié\n    return msg;\n} catch (err) {\n    node.error(\"Erreur lors du traitement des données : \" + err.message);\n    return null; // Arrête le traitement en cas d'erreur\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 400,
        "wires": [
            [
                "b5ece75b6dbe43af"
            ]
        ]
    },
    {
        "id": "b5ece75b6dbe43af",
        "type": "ui_toast",
        "z": "3d35441da62ff479",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Limited value reached",
        "x": 980,
        "y": 400,
        "wires": []
    },
    {
        "id": "7298f2f41155d3bc",
        "type": "ui_group",
        "name": "Default",
        "tab": "0169e2480007c90e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "863bcaa122c1dd25",
        "type": "mqtt-broker",
        "name": "",
        "broker": "https://srv-chirpstack.insa-toulouse.fr",
        "port": "1883",
        "tls": "f0059905bdbbee91",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0169e2480007c90e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f0059905bdbbee91",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "CA_Cert.txt",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]